Repository FuelRats/pipsqueak3, changes with the owners that .github/CODEOWNERS names for each.
All owners: @theunkn0wn1, @shatteredbeam, @Eearslya, @MHajoha

.github/CODEOWNERS:

#https://help.github.com/articles/about-code-owners/


# global rule
* @theunkn0wn1

# documentation directory
/docs/ @shatteredbeam

# database module
/database/ @shatteredbeam

# facts module
/Modules/fact_manager.py @shatteredbeam

# commands module
/commands/ @theunkn0wn1

# galaxy module
/Modules/galaxy/ @Eearslya

# rules module
/Modules/rules.py @MHajoha

# #####
various CI configuration files.
*.yml @theunkn0wn1
*.ini @theunkn0wn1
*.cfg @theunkn0wn1

/.circleci/ @theunkn0wn1
.coveragerc @theunkn0wn1

Fixing more typos
  Modules/rat_rescue.py
Owners: @theunkn0wn1

XFailing a test, increasing coverage a bit more
  Modules/RatMama.py
  tests/test_ratmama.py
Owners: @theunkn0wn1

RSignal replace is case insensitive now
  Modules/RatMama.py
  tests/test_ratmama.py
Owners: @theunkn0wn1

seperator test is parametrized now, made the test more interesting
  tests/test_ratmama.py
Owners: @theunkn0wn1

Added a test to ensure no kaboom will happen, should Ratmama output an unknown platform
  tests/test_ratmama.py
Owners: @theunkn0wn1

parameterized the tests even further, pushing the coverage even higher
  Modules/RatMama.py
  tests/test_ratmama.py
Owners: @theunkn0wn1

few little nitpicks addressed
  Modules/RatMama.py
Owners: @theunkn0wn1

Slight optimization to correct_system_name
  utils/ratlib.py
Owners: @theunkn0wn1

Move autocorrection function into its own file
  pytest.ini
  tests/test_autocorrect.py
  tests/test_ratlib.py
  utils/autocorrect.py
  utils/ratlib.py
Owners: @theunkn0wn1

Update docstring for correct_system_name
  utils/ratlib.py
Owners: @theunkn0wn1

Minor adjustments to dict-creating methodology
  utils/ratlib.py
Owners: @theunkn0wn1

Add a system name auto-correction method
  tests/test_ratlib.py
  utils/ratlib.py
Owners: @theunkn0wn1

Workaround to enable proper ctrl+c handling.
  main.py
Owners: @theunkn0wn1

Allow Rescue to be properly creatable with defaults.
  Modules/rat_rescue.py
  tests/test_rescue.py
Owners: @theunkn0wn1

Refactor mechaclient class to mechaclient.py at project root. Fixed misc. imports to prevent circular loading after refactor.
  Modules/context.py
  main.py
  mechaclient.py
  tests/mock_bot.py
Owners: @theunkn0wn1

Narrow scope on logging import.
  mechaclient.py
Owners: @theunkn0wn1

Rescue.system can now be set to null during construction - turns out this broke nothing in the test suite
  Modules/rat_rescue.py
Owners: @theunkn0wn1

Featureize the Mechaclient - add missing super call
  mechaclient.py
Owners: @theunkn0wn1

Documentation fixes.
  Modules/commands/_command.py
  Modules/commands/_feature.py
Owners: @theunkn0wn1

Various IRC Fixes and cleanup. Added Vhost handler for on connect. Moved ping command to debug. Removed old debugging messages. Force pydle version to 0.9.1+
  Modules/permissions.py
  Modules/rat_command.py
  Pipfile
  Pipfile.lock
  commands/debug.py
  main.py
  mechaclient.py
Owners: @theunkn0wn1

Reduced this PR to adding handler for Vhost. Added missing 'await'
  Pipfile
  Pipfile.lock
  mechaclient.py
Owners: @theunkn0wn1

Addressed some issues that refused to stay down
  commands/debug.py
  tests/commands/__init__.py
  tests/conftest.py
Owners: @theunkn0wn1

Remove unnecessary variable from for loop
  Modules/galaxy/galaxy.py
Owners: @Eearslya

Add find_nearest_landmark method to Galaxy
  Modules/galaxy/galaxy.py
  tests/galaxy/conftest.py
  tests/galaxy/test_galaxy.py
Owners: @Eearslya, @theunkn0wn1

few little nitpicks addressed
  Modules/RatMama.py
Owners: @theunkn0wn1

unmarking XFAIL since the rescue constructor has been fixed
  tests/test_ratmama.py
Owners: @theunkn0wn1

let's make linting happy again
  Modules/RatMama.py
Owners: @theunkn0wn1

fix errors
  Modules/RatMama.py
  tests/test_ratmama.py
Owners: @theunkn0wn1

That linter really doesn't like me
  Modules/RatMama.py
Owners: @theunkn0wn1

Add board reference to MechaClient.
  mechaclient.py
Owners: @theunkn0wn1

Fix doc strings (remove mecha reference) and set fact manager/ratboard to null rather that a bare delete when deleter is invoked.
  mechaclient.py
Owners: @theunkn0wn1

Implementation of a offline-aware system
  Modules/offline_awareness/__init__.py
  Modules/offline_awareness/_offline_aware_abc.py
Owners: @theunkn0wn1

Cursory offline tests - WIP.
  Modules/offline_awareness/__init__.py
  Modules/offline_awareness/_offline_aware_abc.py
  pytest.ini
  tests/offline_mode/__init__.py
  tests/offline_mode/test_offline_abc.py
Owners: @theunkn0wn1

Expanded tests a little - WIP
  tests/offline_mode/test_offline_abc.py
Owners: @theunkn0wn1

Brought tests up to spec.
  Modules/offline_awareness/_offline_aware_abc.py
  tests/offline_mode/test_offline_abc.py
Owners: @theunkn0wn1

Added missing Doc
  Modules/offline_awareness/__init__.py
Owners: @theunkn0wn1

\n at EOF
  tests/offline_mode/__init__.py
Owners: @theunkn0wn1

Tell pylint to be quiet a little
  Modules/offline_awareness/__init__.py
Owners: @theunkn0wn1

Fix a valid error pylint caught. Woops!
  Modules/offline_awareness/__init__.py
Owners: @theunkn0wn1

all board calls no use ctx.bot.board directly, fixed error within the test routine for "signal already sent"
  Modules/RatMama.py
  tests/test_ratmama.py
Owners: @theunkn0wn1
